/* entrenadores.css */

/* =============================
   Estilos específicos para Entrenadores
   ============================= */

/* Contenedor del formulario */
.trainer-form {
  background: var(--gris);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: auto;
  margin: 0 auto;
}

/* Título del formulario */
.trainer-form h3 {
  color: var(--azul);
  text-align: center;
  margin-bottom: 20px;
}


/* Botones */
button {
  background-color: #0078ff;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #005fcc;
}

/* Tabla de entrenadores */
.trainer-table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}

.trainer-table th,
.trainer-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.trainer-table th {
  background-color: #0078ff;
  color: white;
}

@media (max-width: 768px) {
  .content-area {
    padding: 1rem;
  }
}