/* socios.css */

/* Estilos específicos para la página de menú de acción */
.acciones-miembro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  max-width: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-accion {
  padding: 15px 30px;
  background-color: var(--celeste);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-accion:hover {
  background-color: #0090dd;
}

/* Botones */
.btn-login {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 1px auto;
  background-color: var(--azul);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nota-campo {
  grid-column: span 2;
  text-align: center;
  font-size: 14px;
  color: #555;
}

@media (max-width: 768px) {
  .form-grid {
    display:grid;
    grid-template-columns: 1fr;
    /* una sola columna */
  }
}