/* sociosM.css */

.acciones-socios {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
  margin-top: 10px;
  max-width: 500px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-identidad {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

.foto-socio img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.codigo-barras img {
  height: 80px;
}

.acciones-formulario button {
  margin-right: 0.5rem;
}

/* Contenedor de botones en la celda */
td button {
  margin-right: 0.3rem;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Botón Editar */
.btn-editar {
  background-color: var(--celeste);
  color: var(--blanco);
}

.btn-editar:hover {
  background-color: #0077b6;
}

/* Botón Eliminar */
.btn-eliminar {
  background-color: #ff4d4d;
  color: var(--blanco);
}

.btn-eliminar:hover {
  background-color: #cc0000;
}

/* Botón Ver */
.btn-ver {
  background-color: #05e750;
  color: var(--blanco);
}

.btn-ver:hover {
  background-color: #0e9720;
}


/* === Formulario de Socios === */
.formulario-socios {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
  /* ocupa todo el ancho disponible */
  max-width: 900px;
  /* opcional: límite para evitar que se desborde en pantallas grandes */
}

.formulario-socios label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formulario-socios input,
.formulario-socios select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {

  .acciones-socios {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0.5rem;
    margin-top: 1px;
    max-width: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .lista-socios {
    overflow-x: auto;
    width: 100%;
  }

  .lista-socios table {
    min-width: 600px;
  }

  .btn-login {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}